{% extends 'common/base.html' %}
{% load static %}
{% load check_user_group %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                
                <h1 class="form-title">My Answers</h1>
                
                {% for answer in answers %}
                    <details>
                        <summary>
                            <h6>{{ answer.question_id.title }}</h6>
                            <p>{{ answer.question_id.category_id }}</p>
                        </summary>
                        <div class="profile-details">
                
                            <p>{{ answer.content }}</p>
                
                        </div>
                
                        {% if request.user == answer.creator_id %}
                            <div class="details-btns">
                                <span><a href="{% url 'my-answer-details' user.pk answer.pk %}">Details</a></span>
                            </div>

                        {% endif %}

                    </details>
                 {% endfor %}                

            </div>
        </div>
    </div>
{% endblock %}