{% extends 'common/base.html' %}
{% load static %}
{% load check_user_group %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                
                <h1 class="form-title">My Answers</h1>
                
                {% for answer in answers %}
                    <details>
                        <summary>{{ answer.content }}</summary>
                        <p>{{ question.content }}</p>
                
                        {% if request.user == answer.creator_id %}
                            <div class="details-btns">
                                <span><a href="#">Edit</a></span>
                                <span><a href="#">Delete</a></span>
                            </div>
                                <div class="profile-details">
                
                                <p>{{ answer.question_id }}</p>
                
                                </div>
                        {% endif %}

                    </details>
                 {% endfor %}                

            </div>
        </div>
    </div>
{% endblock %}