{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                <h1 class="form-title">Нулиране на парола</h1>
                
                <p>Въведете имейла на вашия акаунт</p>
                
                <form method="post">                    
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="btn btn-primary">Изпрати имейл</button>                    
                </form>

            </div>
        </div>
    </div>
{% endblock %}