{% extends 'common/base.html' %}
{% load url_query_and_pagination %}
{% load static %}

{% block content %}

    <div class="detail-outer-container">
        <div class="detail-container">
            <div class="detail-card">

                <h1 class="detail-title">Детайли</h1>
                <div class="primary-detail-card">
                    <div class="primary-container">
                        <a href="{% url 'user-details' patient.pk %}"><h6>{{ patient.username }}</h6></a>
                        <br>
                        {% if patient.profile_img %}
                            <div class="primary-img">
                                <a href="{% url 'user-details' patient.pk %}"><img src="{{ patient.profile_img.url }}" ></a>
                            </div>
                        {% else %}
                            <div class="primary-img">
                                <a href="{% url 'user-details' patient.pk %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                            </div>
                        {% endif %}

                        </div>
                        <div class="secondary-container">
                            <h4 class="primary-title">Моят въпрос</h4>
                            <h5 class="question-detail-title">{{ question.title }}</h5>
                            <h6 class="question-detail-category">{{ question.category_id }}</h6>
                            <p class="question-detail-content">{{ question.content }}</p>
                            <br>
                            {% if request.user == question.creator_id %}
                            <div class="details-btns">
                                {% if not question.is_published and answer %}
                                    <form method="post" action="{% url 'question-publish' question.pk %}">
                                        {% csrf_token %}
                                        <button>Публикувай</button>
                                    </form>
                                {%  elif question.is_published and answer %}
                                    <form method="post" action="{% url 'question-unpublish' question.pk %}">
                                        {% csrf_token %}
                                        <button>Отмени публикуването</button>
                                    </form>
                                {% endif %}
                                <span><a href="{% url 'question-edit' user.pk question.id %}"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a></span>
                                <span><a href="{% url 'question-delete' user.pk question.id %}"><i class="fa-solid fa-trash"></i></a></span>
                            </div>
                            {% endif %}
                        </div>
                </div>
                {% if answer %}
                    <div class="secondary-detail-card">
                            <div class="primary-container">
                            <a href="{% url 'user-public-details' pharmacist.pk %}"><h6>{{ pharmacist.username }}</h6></a>
                            <br>
                            {% if pharmacist.profile_img %}
                                <div class="secondary-img">
                                    <a href="{% url 'user-public-details' pharmacist.pk %}"><img src="{{ pharmacist.profile_img.url }}" ></a>
                                </div>
                            {% else %}
                                <div class="secondary-img">
                                    <a href="{% url 'user-public-details' pharmacist.pk %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                                </div>
                            {% endif %}
                            </div>
                            <div class="secondary-container">

                                <h4 class="primary-title">Отговор</h4>
                                <p class="answer-detail-content">{{ answer.content }}</p>
                                <div class="rating-forms">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        {{ like_form }}
                                        <button type="submit" class="like-btn">
                                            {% if rating.like %}
                                                <i class="fa-solid fa-thumbs-up"></i>
                                            {% else %}
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        {{ dislike_form }}
                                        <button type="submit" class="like-btn">
                                            {% if rating.dislike %}
                                                <i class="fa-solid fa-thumbs-down"></i>
                                            {% else %}
                                                <i class="fa-regular fa-thumbs-down"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </div>
                    {% if comments %}
                        {% for comment in paginated_comments %}
                            <div class="comment-container">
                                {% if comment.author == request.user %}
                                    {% if comment.author.profile_img %}
                                        <a href="{% url 'user-details' comment.author.pk %}"><img src="{{ comment.author.profile_img.url }}" class="comment-img"></a>
                                    {% else %}
                                        <a href="{% url 'user-details' comment.author.pk %}"><img src="{% static 'img/default-profile-pic.png' %}" class="comment-img"></a>
                                    {% endif %}
                                {% else %}
                                    {% if comment.author.profile_img %}
                                        <a href="{% url 'user-public-details' comment.author.pk %}"><img src="{{ comment.author.profile_img.url }}" class="comment-img"></a>
                                    {% else %}
                                        <a href="{% url 'user-public-details' comment.author.pk %}"><img src="{% static 'img/default-profile-pic.png' %}" class="comment-img"></a>
                                    {% endif %}
                                {% endif %}
                                <p>{{ comment.content }}</p>
                                {% if request.user == comment.author %}
                                    <div class="details-btns">

                                        <span><a href="{% url 'comment-edit' comment.id %}"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a></span>
                                        <span><a href="{% url 'comment-delete' comment.id %}"><i class="fa-solid fa-trash"></i></a></span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="pagination">
                        <div class="previous">
                            {% if paginated_comments.has_previous %}
                                <a href="?{% url_query_and_pagination request 'page' paginated_comments.previous_page_number %}" class="paginator-btn">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="current">
                            {% if paginated_comments.has_previous or  paginated_comments.has_next %}
                                <span>Страница {{ paginated_comments.number }} от {{ paginated_comments.paginator.num_pages }}</span>
                            {% endif %}
                        </div>
                        <div class="next">
                            {% if paginated_comments.has_next %}
                                <a href="?{% url_query_and_pagination request 'page' paginated_comments.next_page_number %}" class="paginator-btn">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                        <div class="comment-container">
                            <p>Все още няма коментари</p>
                        </div>

                    {% endif %}
                    <div class="comment-form-container">
                            <form method="post" class="comment-form">
                                {% csrf_token %}
                                {{ comment_form }}
                                <button type="submit" class="search-btn"><i class="fa-regular fa-comment"></i></button>
                            </form>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}
