{% extends 'common/base.html' %}
{% load static %}
{% load check_user_group %}
{% load question_tags %}


{% block content %}
    
    <div class="list-outer-container">
        <div class="list-container">
            <div class="list-card">
                {% if request.user == question.creator_id %}
                    <h1 class="list-title">My questions</h1>
                {% elif request.user|check_user_group:'pharmacist' %}
                    <h1 class="list-title">Unanswered questions</h1>
                {% endif %}
                <div class="details">
                    {% for question in questions %}
                        <details>
                            <summary>{{ question.title }}</summary>
                            <p>{{ question.content }}</p>
                
                            {% if request.user == question.creator_id %}
                                <div class="details-btns">
                                    <span><a href="{% url 'my-question-details' user.pk question.id %}">Details</a></span>
                                </div>
                                {% has_answer question.pk as has_answer %}
                                {% if has_answer %}
                                    <h4>Answered!</h4>
                                {% else %}
                                    <h4>Not answered!</h4>
                                {% endif %}    
                            {% endif %}
                            
                            {% if request.user|check_user_group:'pharmacist' %}
                                <div class="details-btns">
                                    <span><a href="{% url 'answer-create' question.id %}">Отговори</a></span>
                                </div>
                            {% endif %}
                        
                        </details>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}