{% extends 'common/base.html' %}
{% load url_query_and_pagination %}
{% load static %}
{% load check_user_group %}
{% load question_tags %}


{% block content %}
    
    <div class="list-outer-container">
        <div class="list-container">
            <div class="list-card">
                {% if request.user == user and request.user|check_user_group:'patient'%}
                    <h1 class="list-title">My questions</h1>
                {% elif request.user|check_user_group:'pharmacist' %}
                    <h1 class="list-title">Unanswered questions</h1>
                {% endif %}
                <div class="details">
                <div class="search-form-container">
                    <form method="get" class="search-form">
                        <input type="text" name="q" placeholder="Search... "{{ search_query }}>
                        <select name="category">
                            <option value="">All Categories</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                                    {{ category.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                    {% for question in questions %}
                        <details>
                            <summary>
                                <h6>{{ question.title }}</h6>
                                <span>Category: {{ question.category_id.title }}</span>
                            </summary>
                            <p>{{ question.content }}</p>
                
                            {% if request.user == question.creator_id %}
                                <div class="details-btns">
                                    <span><a href="{% url 'my-question-details' user.pk question.id %}">Details</a></span>
                                </div>
                                {% has_answer question.pk as has_answer %}
                                {% if has_answer %}
                                    <h4>Answered!</h4>
                                {% else %}
                                    <h4>Not answered!</h4>
                                {% endif %}    
                            {% endif %}
                            
                            {% if request.user|check_user_group:'pharmacist' %}
                                <div class="details-btns">
                                    <span><a href="{% url 'answer-create' question.id %}">Отговори</a></span>
                                </div>
                            {% endif %}
                        
                        </details>
                    {% endfor %}
                </div>
                <div class="pagination">
                    <div class="previous">
                        {% if page_obj.has_previous %}
                            <a href="?{% url_query_and_pagination request 'page' page_obj.previous_page_number %}" class="paginator-btn">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="current">
                        {% if page_obj.has_previous or  page_obj.has_next %}
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        {% endif %}
                    </div>
                    <div class="next">
                        {% if page_obj.has_next %}
                            <a href="?{% url_query_and_pagination request 'page' page_obj.next_page_number %}" class="paginator-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}