{% extends 'common/base.html' %}
{% load static %}
{% load check_user_group %}
{% load question_tags %}

{% block header_title %}
    <h1>Моите въпроси</h1>
{% endblock %}

{% block content %}
    
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                {% if request.user == question.creator_id %}
                    <h1 class="form-title">My questions</h1>
                {% elif request.user|check_user_group:'pharmacist' %}
                    <h1 class="form-title">Unanswered questions</h1>
                {% endif %}
                <div class="details">
                    {% for question in questions %}
                        <details>
                            <summary>{{ question.title }}</summary>
                            <p>{{ question.content }}</p>
                
                            {% if request.user == question.creator_id %}
                                <div class="details-btns">
                                    <span><a href="{% url 'question-edit' user.pk question.id %}"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a></span>
                                    <span><a href="{% url 'question-delete' user.pk question.id %}"><i class="fa-solid fa-trash"></i></a></span>
                                </div>
                                {% has_answer question.pk as has_answer %}
                                {% if has_answer %}
                                    <div class="profile-details">
                                    {% get_answer_creator question.pk as answer_creator %}
                                    <h5>
                                        {{ answer_creator }}
                                    </h5>
                                    {% get_answer_content question.pk as answer_content %}    
                                    <p>
                                        {{ answer_content }}
                                    </p>
                                    </div>
                                {% endif %}    
                            {% endif %}
                            
                            {% if request.user|check_user_group:'pharmacist' %}
                                <div class="details-btns">
                                    <span><a href="{% url 'answer-create' question.id %}">Отговори</a></span>
                                </div>
                            {% endif %}
                        
                        </details>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}