{% extends 'common/base.html' %}
{% load static %}

{% block header_title %}
    <h1>Изтрий категория</h1>
{% endblock %}

{% block content %}

    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
            
                <h1 class="form-title">Delete</h1>
                
                <form method="post" class="delete-form">
                    {% csrf_token %}
                    <h5>Are you sure want to delete the category?</h5>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>            
{% endblock %}