.register-btn {
    width: 300px;
    padding-block: 0.7rem;
    margin: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #a7c5df;
    background-color: #0d5385;
    border-color: #0d5385;
}

.redirect-btn {
    width: 300px;
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #0d5385;
    background-color: #a7c5df;
    border-color: #a7c5df;
    text-align: center;
}

.login-btn {
    width: 300px;
    padding-block: 0.7rem;
    margin: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #a7c5df;
    background-color: #0d5385;
    border-color: #0d5385;
}

.logout-btn {
    padding-right: 2rem;
    font-size: 1.2rem;
    color: #0d5385;
    background-color: #a7c5df;
    border: none;
    cursor: pointer;
}

.profile-btn {
    display: block;
    width: 300px;
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #a7c5df;
    background-color: #0d5385;
    border-color: #0d5385;
    text-align: center;
}

.edit-btn {
    width: 300px;
    padding-block: 0.7rem;
    margin: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #a7c5df;
    background-color: #0d5385;
    border-color: #0d5385;
}

.delete-btn {
    width: 300px;
    padding-block: 0.7rem;
    margin: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #dfa7a7;
    background-color: #850d0d;
    border-color: #850d0d;
}

.add-image-btn::file-selector-button {
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #0d5385;
    background-color: #a7c5df;
    border-color: #0d5385;
}

.add-image-btn {
    padding: 0;
}

.delete {
    color: #dfa7a7;
    background-color: #850d0d;
    border-color: #850d0d;
}

.change {
        color: #c6dfa7;
    background-color: #26c80d;
    border-color: #11850d;

}