/*.register-btn {*/
/*    width: 300px;*/
/*    padding-block: 0.7rem;*/
/*    margin: 2rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #a7c5df;*/
/*    background-color: #0d5385;*/
/*    border-color: #0d5385;*/
/*}*/

/*.redirect-btn {*/
/*    width: 300px;*/
/*    padding: 0.7rem 1.5rem;*/
/*    margin: 0.5rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #0d5385;*/
/*    background-color: #a7c5df;*/
/*    border-color: #a7c5df;*/
/*    text-align: center;*/
/*}*/

/*.login-btn {*/
/*    width: 300px;*/
/*    padding-block: 0.7rem;*/
/*    margin: 2rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #a7c5df;*/
/*    background-color: #0d5385;*/
/*    border-color: #0d5385;*/
/*}*/

/*.logout-btn {*/
/*    padding-right: 1rem;*/
/*    font-size: 1.2rem;*/
/*    color: #0d5385;*/
/*    background-color: #a7c5df;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.profile-btn {*/
/*    display: block;*/
/*    width: 300px;*/
/*    padding: 0.7rem 1.5rem;*/
/*    margin: 0.5rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #a7c5df;*/
/*    background-color: #0d5385;*/
/*    border-color: #0d5385;*/
/*    text-align: center;*/
/*}*/

/*.edit-btn {*/
/*    width: 300px;*/
/*    padding-block: 0.7rem;*/
/*    margin: 2rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #a7c5df;*/
/*    background-color: #0d5385;*/
/*    border-color: #0d5385;*/
/*}*/

/*.delete-btn {*/
/*    width: 300px;*/
/*    padding-block: 0.7rem;*/
/*    margin: 2rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #dfa7a7;*/
/*    background-color: #850d0d;*/
/*    border-color: #850d0d;*/
/*}*/

/*.add-image-btn::file-selector-button {*/
/*    padding: 0.5rem;*/
/*    border-radius: 2rem;*/
/*    font-size: 1rem;*/
/*    color: #0d5385;*/
/*    background-color: #a7c5df;*/
/*    border-color: #0d5385;*/
/*}*/

/*.add-image-btn {*/
/*    padding: 0;*/
/*}*/

/*.delete {*/
/*    color: #dfa7a7;*/
/*    background-color: #850d0d;*/
/*    border-color: #850d0d;*/
/*}*/

/*.change {*/
/*        color: #c6dfa7;*/
/*    background-color: #26c80d;*/
/*    border-color: #11850d;*/

/*}*/

/*.details-btns {*/
/*    display: flex;*/
/*    padding-right: 1rem;*/
/*    padding-bottom: 0.5rem;*/
/*    gap: 1rem;*/
/*    justify-content: right;*/


/*}*/

.btn-logout {
    all: unset;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border-color: #007bff;
    background-color: #007bff;
    text-align: center;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #0d5385;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

