details {
    margin: 1.5rem auto;
    max-width: 700px;
    background-color: #a7c5df;
    border-radius: 0.5rem;
}

summary {
    background-color: #0d5385;
    color: white;
    list-style-type: none;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem;
  }

details p {
    padding-block:1rem;
    padding-left: 3rem;
}

.details{
    margin: 1.5rem auto;
    max-width: 800px;
}

.login-register {
    margin-block: 2rem;
    margin-inline: auto;
    padding-bottom: 2rem;
    max-width: 450px;
    background-color: #0d5385;
    border-radius: 2.5rem;
    border: 2px solid #a7c5df;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-register p {
    color: #fff;
}

.profile-details {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    max-width: 800px;
    margin: 3rem auto;
    border: 2px solid #0d5385;
    border-radius: 0.5rem;
    background-color: #a7c5df;
}

.profile {
    color: #0d5385;
    max-width: 400px;
}

.profile-title {
    padding-right: 1rem;
    width: 130px;
}

.profile-data {
    display: flex;
    /*justify-content: space-between;*/
    gap: 1rem;
    padding-bottom: 1rem;
}

.profile h5 {
    text-align: center;
}

.answer-details {
    max-width: 800px;
    margin: 1rem auto;
    text-align: center;
    border: 2px solid #0d5385;
    border-radius: 0.5rem;
    background-color: #a7c5df;
}

.answer-details form {
    border: none;
}