{% extends 'common/base.html' %}

{% block content %}
    <div class="index">
        <div class="hero-section">
            <div class="container">
                <h1>Добре дошли във PharmaQ</h1>
                <p>Свързване на пациенти с сертифицирани фармацевти за надеждни здравни съвети.</p>
            </div>
        </div>
        <div class="empty"></div>
        <section class="features-section">
            <div class="container">
                <h2>Защо да изберете нас?</h2>
                
                <div class="features">
                    <div class="feature">
                        <h3>Сертифицирани експерти</h3>
                        <p>Всички наши фармацевти са сертифицирани професионалисти, на които можете да се доверите.</p>
                    </div>
                    <div class="feature">
                        <h3>Бързи отговори</h3>
                        <p>Получете бързи и надеждни отговори на вашите здравни въпроси.</p>
                    </div>
                    <div class="feature">
                        <h3>Сигурни и конфиденциални</h3>
                        <p>Вашата информация е в безопасност при нас и се обработва конфиденциално.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
