{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                <h1 class="form-title">Login</h1>
                
                <form method="post">                    
                    {% csrf_token %}
                    {{ form.as_div }}
                    <div>
                        <a href="{% url 'reset_password' %}">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>                    
                </form>
                
                
                <div class="form-footer">
                    
                    <p>Don't have an account?</p>
                    <p>
                        <a href="{% url 'patient-registration' %}">Sign Up as Patient</a> or
                        <a href="{% url 'pharmacist-registration' %}">Sign Up as Pharmacist</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}