{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                <h1 class="form-title">Въведете нова парола</h1>
                
                <p>Моля, въведете новата си парола два пъти, за да потвърдим, че сте я написали правилно.</p>
                
                <form method="post">                    
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="btn btn-primary">Смени паролата ми</button>                    
                </form>

            </div>
        </div>
    </div>
{% endblock %}