{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                <h1 class="form-title">Нулирането на паролата е завършено</h1>
                
                <p>
                    Вашата парола беше зададена. Сега можете да влезете в профила си.
                </p>
                <br>
                <div class="login">
                    <a href="{% url 'login' %}"  class="btn btn-primary">Вход</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}