{% extends 'common/base.html' %}
{% load url_query_and_pagination %}
{% load static %}

{% block content %}

    <div class="detail-outer-container">
        <div class="detail-container">
            <div class="detail-card">
                
                <h1 class="detail-title">New Pharmacists</h1>
                
                <div class="search-form-container">
                    <form method="get" class="search-form">
                        <input type="text" name="q" placeholder="Search... "{{ search_query }}>
                        <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                
                {% if not all_pharmacists %}
                    <h6 class="pharm-approve">There is no Pharmacists to approve!</h6>
                {% endif %}
                
                {% for pharmacist in all_pharmacists %}
                    <div class="primary-detail-card">
                        <div class="primary-container">
                            <a href="{% url 'user-public-details' pharmacist.pk %}"><h6>{{ pharmacist.username }}</h6></a>
                            <br>
                                <div class="primary-img">
                                    <a href="{% url 'user-public-details' pharmacist.pk %}"><img src="{% static 'img/kisspng-national-cyber-security-alliance-organization-drup-icon-vectors-download-customers-free-5ab19558399358.7514702115215875442358.png' %}" ></a>
                                
                                </div>
                        </div>
                        <div class="secondary-container">
                            
                            <div class="professional_card">
                                <img src="{{ pharmacist.professional_card.url }}">
                            </div>
                            <div class="approve-forms">
                                <form method="post" action="{% url 'pharmacist-approve' pk=pharmacist.id %}">
                                    {% csrf_token %}
                                    <button class="approve-btn">Approve</button>
                                </form>    
                            </div>    
                        </div>
                    </div>
                {% endfor %}
                <div class="pagination">
                    <div class="previous">
                        {% if page_obj.has_previous %}
                            <a href="?{% url_query_and_pagination request 'page' page_obj.previous_page_number %}" class="paginator-btn">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="current">
                        {% if page_obj.has_previous or  page_obj.has_next %}
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        {% endif %}
                    </div>
                    <div class="next">
                        {% if page_obj.has_next %}
                            <a href="?{% url_query_and_pagination request 'page' page_obj.next_page_number %}" class="paginator-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}