{% extends 'common/base.html' %}
{% load static %}
{% load check_user_group %}
{% load question_tags %}


{% block content %}

    <div class="list-outer-container">
        <div class="list-container">

            <div class="list-card">
                <h1 class="list-title">Our Pharmacists</h1>
                    <div class="search-form-container">
                        <form method="get" class="search-form">
                            <input type="text" name="q" placeholder="Search... "{{ search_query }}>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="details">
                        {% for pharmacist in all_pharmacists %}
                            <div class="primary-detail-card">
                                <div class="primary-container">
                                <a href="#"><h6>{{ pharmacist.username }}</h6></a>
                                <br>
                                {% if pharmacist.profile_img %}
                                    <div class="primary-img">
                                        <a href="#"><img src="{{ pharmacist.profile_img.url }}" ></a>
                                    </div>
                                {% else %}
                                    <div class="primary-img">
                                        <a href="#"><img src="{% static 'img/kisspng-national-cyber-security-alliance-organization-drup-icon-vectors-download-customers-free-5ab19558399358.7514702115215875442358.png' %}" ></a>
                                    </div>
                                {% endif %}
                                
                                </div>
                                <div class="secondary-container">
{#                                    <h4 class="primary-title">Details</h4>#}
                                    {% if pharmacist.first_name and pharmacist.last_name %}
                                        <h6>{{ pharmacist.first_name }} {{ pharmacist.last_name }}</h6>
                                    {% else %}
                                        <h6>Anonymous</h6>
                                    {% endif %}
                                    {% if pharmacist.personal_info %}
                                        <br>
                                        <p>{{ pharmacist.personal_info }}</p>
                                    {% endif %}

                                </div>    
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}