{% extends 'common/base.html' %}
{% load all_answers %}
{% load static %}
{% load check_user_group %}
{% load question_tags %}
{% load calculate_rating %}
{% load url_query_and_pagination %}

{% block content %}

    <div class="list-outer-container">
        <div class="list-container">

            <div class="list-card">
            
                <h1 class="list-title">Всички фармацевти</h1>
                    <div class="search-form-container">
                        <form method="get" class="search-form">
                            <input type="text" name="q" placeholder="Търсене... "{{ search_query }}>
                            <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="details">
                        {% if not all_pharmacists %}
                            <h6>Няма регистрирани фармацевти</h6>
                        {% endif %}
                        {% for pharmacist in all_pharmacists %}
                            <div class="primary-detail-card">
                             
                                <div class="primary-container">
                                <div class="rating">
                                    <p>рейтинг <b>{% calculate_rating %}</b></p>
                                </div>
                               
                                    <a href="{% url 'user-public-details' pharmacist.id %}"><h6>{{ pharmacist.username }}</h6></a>
                                    <br>
                                    {% if pharmacist.profile_img %}
                                        <div class="primary-img">
                                            <a href="{% url 'user-public-details' pharmacist.id %}"><img src="{{ pharmacist.profile_img.url }}" ></a>
                                        </div>
                                    {% else %}
                                        <div class="primary-img">
                                            <a href="{% url 'user-public-details' pharmacist.id %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                                        </div>
                                    {% endif %}
                                 <div class="rating">
                                    <p>отговори <b>{% get_all_answers %}</b></p>
                                </div>
                                </div>
                                <div class="secondary-container">
                                    {% if pharmacist.first_name and pharmacist.last_name %}
                                        <h6>{{ pharmacist.first_name }} {{ pharmacist.last_name }}</h6>
                                    {% else %}
                                        <h6>Анонимен</h6>
                                    {% endif %}
                                    {% if pharmacist.personal_info %}
                                        <br>
                                        <p>{{ pharmacist.personal_info }}</p>
                                    {% endif %}
                                    {% if pharmacist.is_active %}
                                        <br>
                                        <p>Одобрен</p>
                                    {% else %}
                                        <br>
                                        <p>Неодобрен</p>
                                    {% endif %}
                                    <div class="details-btns">
                                        <a href="{% url 'message-create' pharmacist.id %}" class="profile-btn">Изпрати съобщение</a>
                                    </div>
                                </div>    
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    <div class="previous">
                        {% if page_obj.has_previous %}
                            <a href="?{% url_query_and_pagination request 'page' page_obj.previous_page_number %}" class="paginator-btn">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="current">
                        {% if page_obj.has_previous or  page_obj.has_next %}
                            <span>Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}</span>
                        {% endif %}
                    </div>
                    <div class="next">
                        {% if page_obj.has_next %}
                            <a href="?{% url_query_and_pagination request 'page' page_obj.next_page_number %}" class="paginator-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
