{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="form-outer-container">
        <div class="form-container">
            <div class="form-card">
                <h1 class="form-title">Изпратено възстановяване на парола</h1>
                
                <p>
                    Изпратихме ви инструкции за задаване на вашата парола, ако съществува акаунт с въведения от вас имейл. Трябва да ги получите скоро. Ако не получите имейл, уверете се, че сте въвели адреса, с който сте се регистрирали, и проверете папката си за спам.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
