{% extends 'common/base.html' %}
{% load static %}
{% load check_user_group %}


{% block content %}

    <div class="detail-outer-container">
        <div class="detail-container">
            <div class="detail-card">
                <h1 class="detail-title">Details</h1>
                <div class="profile-details">
                    <div class="container">
                        {% if user.profile_img %}
                            <div class="profile-img">
                                <img src="{{ user.profile_img.url }}">
                            </div>
                        {% else %}
                            <div class="profile-img">
                                <img src="{% static 'img/kisspng-national-cyber-security-alliance-organization-drup-icon-vectors-download-customers-free-5ab19558399358.7514702115215875442358.png' %}">
                            </div>
                        {% endif %}
                        {% if request.user|check_user_group:'patient' %}
                            <a href="{% url 'message-create' user.id %}" class="profile-btn">Изпрати съобщение</a>
                        {% endif %}
                    </div>
                    <div class="profile">

                        {% if user.is_patient %}
                            <h5>Пациент</h5>
                        {% elif user.is_pharmacist%}
                            <h5>Фармацевт</h5>
                        {% endif %}
                        <br>

                        <div class="profile-data">
                            <span class="profile-title"><b>Username:</b></span>
                            <span class="profile-content">{{ user.username }}</span>
                        </div>


                        <div class="profile-data">
                            <span class="profile-title"><b>First Name:</b></span>
                            {% if user.first_name %}
                                <span class="profile-content">{{ user.first_name }}</span>
                            {% else %}
                                <span class="profile-content"> N / A</span>
                            {% endif %}
                        </div>

                        <div class="profile-data">
                            <span class="profile-title"><b>Last Name:</b></span>
                            {% if user.last_name %}
                                <span class="profile-content">{{ user.last_name }}</span>
                            {% else %}
                                <span class="profile-content"> N / A</span>
                            {% endif %}
                        </div>

                        {% if user.is_pharmacist and user.personal_info%}
                             <div class="profile-data">
                                <span class="profile-title"><b>Personal Info:</b></span>
                                    <span class="profile-content">{{ user.personal_info }}</span>
                            </div>

                        {% endif %}

                    </div>

                </div>

                </div>
            </div>
        </div>

{% endblock %}