{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <div class="detail-outer-container">
        <div class="detail-container">
            <div class="detail-card">
                <h1 class="detail-title">Детайли</h1>
                <div class="primary-detail-card">
                    <div class="primary-container">
                    
                        {% if request.user == message.receiver %}
                            <h6>От:</h6>
                            <a href="{% url 'user-public-details' message.sender.id %}"><h6>{{ message.sender.username }}</h6></a>
                            <br>
                            {% if message.sender.profile_img %}
                                <div class="primary-img">
                                    <a href="{% url 'user-public-details' message.sender.id %}"><img src="{{ message.sender.profile_img.url }}" ></a>
                                </div>
                            {% else %}
                                <div class="primary-img">
                                    <a href="{% url 'user-public-details' message.sender.id %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <h6>От:</h6>
                            <a href="{% url 'user-details' message.sender.id %}"><h6>{{ message.sender.username }}</h6></a>
                            <br>
                            {% if message.sender.profile_img %}
                                <div class="primary-img">
                                    <a href="{% url 'user-details' message.sender.id %}"><img src="{{ message.sender.profile_img.url }}" ></a>
                                </div>
                            {% else %}
                                <div class="primary-img">
                                    <a href="{% url 'user-details' message.sender.id %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                
                    <div class="secondary-container">
                        
                        <div class="message-container">
                            <div class="message">
                                <p>{{ message.content  }}</p>
                            </div>
                        </div>
                        <div class="details-btns">
                             {% if request.user == message.receiver %}
                                <a href="{% url 'message-create' message.sender.id %}">Отговори</a>
                            {% endif %}
                                <a href="{% url 'message-delete' request.user.pk message.pk %}">Изтрий</a>
                        </div>
                    </div>   
                    <div class="primary-container">
                       
                        {% if request.user == message.receiver %}  
                             <h6>До:</h6>
                            <a href="{% url 'user-details' message.receiver.id %}"><h6>{{ message.receiver.username }}</h6></a>
                            <br>
                            {% if message.receiver.profile_img %}
                                <div class="primary-img">
                                    <a href="{% url 'user-details' message.receiver.id %}"><img src="{{ message.receiver.profile_img.url }}" ></a>
                                </div>
                            {% else %}
                                <div class="primary-img">
                                    <a href="{% url 'user-details' message.receiver.id %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <h6>До:</h6>
                            <a href="{% url 'user-public-details' message.receiver.id %}"><h6>{{ message.receiver.username }}</h6></a>
                            <br>
                            {% if message.receiver.profile_img %}
                                <div class="primary-img">
                                    <a href="{% url 'user-public-details' message.receiver.id %}"><img src="{{ message.receiver.profile_img.url }}" ></a>
                                </div>
                            {% else %}
                                <div class="primary-img">
                                    <a href="{% url 'user-public-details' message.receiver.id %}"><img src="{% static 'img/default-profile-pic.png' %}" ></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>    
        </div>
    </div>    
{% endblock %}
