{% extends 'common/base.html' %}

{% block content %}
    <div class="detail-outer-container">
        <div class="detail-container">
            <div class="detail-card">
                <h1 class="detail-title">Как да използвате платформата?</h1>
                <div class="primary-container">
                    <p >Добре дошли в нашата онлайн платформа, която свързва пациенти и фармацевти! Тук ще намерите информация за това как да използвате платформата в няколко лесни стъпки.</p>
                </div>    
                
                <div class="primary-detail-card">
                    <div class="primary-container">
                        <h5 class="primary-title">1. Регистрация и вход</h5>
                        <ol>
                            <li><strong>Създайте акаунт:</strong> 
                                <ul class="fa-ul">
                                    <li>Ако сте <strong>пациент</strong>, изберете опцията за регистрация като пациент.</li>
                                    <li>Ако сте <strong>фармацевт</strong>, изберете опцията за регистрация като фармацевт. След регистрацията вашите данни ще бъдат проверени и ще получите потвърждение по имейл, когато профилът ви бъде одобрен.</li>
                                </ul>
                            </li>
                            <li><strong>Влезте в системата:</strong> След успешна регистрация, използвайте потребителското си име и паролата си, за да влезете в платформата.</li>
                        </ol>            
                    </div>
                </div>
                
                <div class="primary-detail-card">
                    <div class="primary-container">
                        <h5 class="primary-title">2. Пациенти: Задаване на въпроси</h5>
                        <ol>
                            <li><strong>Създайте въпрос:</strong> 
                                <ul class="fa-ul">
                                    <li>Отидете в секцията „<em>Профил</em>“ и кликнете върху бутона „<em>Нов въпрос</em>“.</li>
                                    <li>Попълнете заглавие и съдържание на въпроса си, изберете категория, и го изпратете.</li>
                                </ul>
                            </li>
                            <li><strong>Преглеждайте отговорите на фармацевтите:</strong> Ще получите имейл, когато фармацевт отговори на вашия въпрос.</li>
                            <li><strong>Оценете отговора:</strong> Можете да дадете <em>лайк</em> (харесвам) или <em>дислайк</em> (не харесвам) за отговора, което ще повлияе на рейтинга на фармацевта.</li>
                            <li><strong>Публикуване:</strong> Ако смятате, че въпроса и отговра могат да бъдат полезни и на други пациенти, можете да ги публикувате за останалите в платформата. Ще бъдат видими само въпроса и отговора към него, без профилите на пациента и фармацевта. Публикацията може да се отмени по всяко време.</li>
                        </ol>
                    </div>
                </div>
        
                <div class="primary-detail-card">
                    <div class="primary-container">
                        <h5 class="primary-title">3. Пациенти: Свързване с фармацевти</h5>
                
                        <ol>
                            <li><strong>Прегледайте списъка с фармацевти:</strong> В секцията „<em>Нашите фармацевти</em>“ можете да видите всички регистрирани фармацевти, подредени по рейтинг и брой отговори.</li>
                            <li><strong>Изпратете лично съобщение:</strong> 
                                <ul class="fa-ul">
                                    <li>Кликнете върху профила на избрания фармацевт и изберете опцията „<em>Изпрати съобщение</em>“.</li>
                                    <li>Напишете съобщението си и го изпратете.</li>
                                </ul>
                            </li>
                            <li><strong>Получете отговор:</strong> Когато фармацевтът ви отговори, ще получите известие и ще можете да прочетете съобщението в секцията „<em>Профил</em>“и кликнете върху бутона „<em>Получени съобщения</em>“.</li>
                        </ol>
                    </div>
                </div>
                
                <div class="primary-detail-card">
                    <div class="primary-container">
                        <h5 class="primary-title">4. Фармацевти: Отговаряне на въпроси</h5>
                        <ol>
                            <li><strong>Прегледайте въпросите:</strong> Отидете в секцията „<em>Профил</em>“ и кликнете върху бутона „<em>Отговои на въпрос</em>“. Там ще можете да видите списък с всички зададени въпроси от пациенти.</li>
                            <li><strong>Отговорете на въпрос:</strong> 
                                <ul class="fa-ul">
                                    <li>Изберете въпрос и натиснете бутона „<em>Отговори</em>“.</li>
                                    <li>Напишете своя отговор и го изпратете.</li>
                                </ul>
                            </li>
                            <li><strong>Получавайте рейтинг:</strong> Вашият рейтинг ще се базира на лайковете и дислайковете, които получавате за отговорите си.</li>
                        </ol>
                    </div>
                </div>
        
                <div class="primary-detail-card">
                    <div class="primary-container">
                        <h5 class="primary-title">5. Известия и комуникация</h5>
                        <ol>
                            <li><strong>Известия:</strong> 
                                <ul class="fa-ul">
                                    <li>Всички ще получавате известия за нови съобщения директно във вашия профил.</li>
                                    <li>Пациентите ще получавате имейл при отговор на ваш въпрос.</li>
                                </ul>
                            </li>
                            <li><strong>Комнетари:</strong>
                                <ul class="fa-ul">
                                    <li>Под отговора на зададен въпрос пациентът и фармацевтът ще могат да оставят коментари.</li>
                                </ul>
                            </li>
                        </ol>
        
                    </div>
                </div>
        
                <div class="primary-detail-card">
                <div class="primary-container">
                    <h5 class="primary-title">6. Защо да използвате платформата?</h5>
                    <ol>
                        <li><strong>Пациенти:</strong> 
                            <ul class="fa-ul">
                                 <li>Получавате бързи и професионални отговори на въпросите си.</li>
                                <li>Можете да изберете фармацевт с висок рейтинг и да получите персонално внимание.</li>
                            </ul>
                        </li>
                        <li><strong>Фармацевти:</strong>
                            <ul class="fa-ul">
                                <li>Изграждате своята репутация и печелите доверие от пациентите.</li>
                                <li>Помагате на хората с вашите професионални знания.</li>
                            </ul>
                        </li>
                    </ol>
                
                </div>
                </div>        
                <div class="primary-container">
                    <p><strong>Започнете сега и направете първата стъпка към лесна и ефективна комуникация между пациенти и фармацевти!</strong></p>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}
