{% load static %}

{% block nav %}
    <nav class="main-nav">
        <ul>
            <li><a href="#"><img src="{% static 'img/kisspng-capsule-pharmaceutical-drug-clip-art-office-flex-cliparts-5ab631c0e1c0c6.8690727615218897289247.png' %}" alt="" class="nav-pic">  Начало</a></li>
            <li><a href="#"><img src="{% static 'img/kisspng-capsule-pharmaceutical-drug-clip-art-office-flex-cliparts-5ab631c0e1c0c6.8690727615218897289247.png' %}" alt="" class="nav-pic">  Въпроси и Отговори</a></li>
            <li><a href="#"><img src="{% static 'img/kisspng-capsule-pharmaceutical-drug-clip-art-office-flex-cliparts-5ab631c0e1c0c6.8690727615218897289247.png' %}" alt="" class="nav-pic">  Категории</a></li>
            <li><a href="#"><img src="{% static 'img/kisspng-capsule-pharmaceutical-drug-clip-art-office-flex-cliparts-5ab631c0e1c0c6.8690727615218897289247.png' %}" alt="" class="nav-pic">  За нас / Контакти</a></li>
        </ul>
    </nav>
{% endblock %}