{% load static %}
{% load check_user_group %}
{% load unread_messages %}

<nav class="navbar">
    <div class="container">
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'img/pharm-logo.png' %}" alt="" class="logo-pic">
            PharmaQ</a>
        <ul class="nav-links">
            <li><a href="{% url 'how-to-use' %}">За платформата</a></li>
            <li><a href="{% url 'category-list' %}">Категории</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'question-list-published' %}">Публикувани въпроси</a></li>
                {% if request.user|check_user_group:"patient" or request.user|check_user_group:"pharmacist" %}
                    <li><a href="{% url 'pharmacist-list-all' %}">Нашите фармацевти</a></li>
                {% endif %}
                {% if request.user|check_user_group:'site-moderator' %}
                    
                {% endif %}
                <li class="menu-item dropdown">
                    <a href="#">Профил</a>
                    <ul class="dropdown-menu">
                         <li><a href="{% url 'user-details' request.user.pk %}">Детайли на профила</a></li>
                         <li><a href="{% url 'sent-message-list' request.user.pk %}">Изпратени съобщения</a></li>
                         <li><a href="{% url 'received-message-list' request.user.pk %}">Получени съобщения</a></li>
                        {% if request.user|check_user_group:"patient" %}
                            <li><a href="{% url 'my-question-list' request.user.pk %}">Моите въпроси</a></li>
                            <li><a href="{% url 'question-create' %}">Задай въпрос</a></li>
                        {% elif request.user|check_user_group:"pharmacist" %}
                            <li><a href="{% url 'answer-list' request.user.pk %}">Моите отговори</a></li>
                            <li><a href="{% url 'unanswered-question-list' request.user.pk %}">Отговори на въпрос</a></li>
                        {% elif request.user|check_user_group:"site-moderator" %}
                            <li><a href="{% url 'category-create' %}">Създай категория</a></li>
                            <li><a href="{% url 'pharmacists-moderation' request.user.pk %}">Всички фармацевти</a></li>
                            <li><a href="{% url 'patients-moderation' request.user.pk %}">Всички пациенти</a></li>
                            <li><a href="{% url 'approve' request.user.pk %}">Одобряване на фармацевт</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout" >Изход</button>
                    </form>
                </li>
                {% if request.user|unread_messages %}
                    <li><a href="{% url 'received-message-list' request.user.pk %}" class="notification">New</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">Вход/Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
